$white-color: #fff;
$tint-blue: #1c1e53;
#hero-area {
    padding-top: 126px;
    padding-bottom: 128px;
    background-color: $tint-blue;
    @media all and (max-width: 991px) {
        padding-top: 86px;
        padding-bottom: 88px;
    }
    @media all and (max-width: 575px) {
        padding-top: 46px;
        padding-bottom: 68px;
    }
    .img-content {
        img {
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(0.98);
            }
        }
    }

    h1 {
        color: $white-color;
        font-size: 54px;
        font-weight: 600;
        line-height: 74px;
        @media all and (max-width: 1100px) {
            font-size: 48px;
            line-height: 64px;
        }
        @media all and (max-width: 768px) {
            font-size: 42px;
            line-height: 56px;
        }
        @media all and (max-width: 525px) {
            font-size: 32px;
            line-height: 36px;
        }
    }
    p {
        color: $white-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 24px;
        margin-bottom: 48px;
        @media all and (max-width: 575px) {
            margin-top: 14px;
            margin-bottom: 28px;
        }
    }

    .btn-group {
        display: flex;
        align-items: center;
        gap: 40px;
        a {
            display: flex;
            align-items: center;
            gap: 16px;
            @media all and (max-width: 575px) {
                gap: 3px;
            }
        }
        @media all and (max-width: 575px) {
            gap: 20px;
        }
    }

    .hero-wrapper {
        display: flex;
        align-items: center;
        gap: 60px;
        @media all and (max-width: 1100px) {
            gap: 40px;
        }
        @media all and (max-width: 991px) {
            flex-direction: column-reverse;
        }
    }
    .text-content {
        max-width: 582px;
        @media all and (max-width: 1100px) {
            max-width: 50%;
        }
        @media all and (max-width: 991px) {
            max-width: 100%;
        }
    }

    button {
        border-radius: 41px;
        background: #fcd980;
        display: inline-flex;
        padding: 16px 56px;
        justify-content: center;
        align-items: center;
        color: #1b1c2b;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;
        border: none;
        @media all and (max-width: 575px) {
            font-size: 16px;
            padding: 10px 20px;
        }
    }

    a {
        color: $white-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-decoration: none;
        &:hover {
            span {
                padding-left: 10px;
                @media all and (max-width: 575px) {
                    padding-left: 2px;
                }
            }
        }
        @media all and (max-width: 575px) {
            font-size: 14px;
        }
    }
    span {
        transition: all 0.3s ease-in-out;
    }
}
