#features-area {
    background: #f4f6fc;
    padding: 128px 0;
    @media all and (max-width: 991px) {
        padding: 88px 0;
    }
    @media all and (max-width: 575px) {
        padding: 58px 0;
    }
    h5 {
        color: var(--Dark-blue, #282938);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 12px;
    }

    h2 {
        color: var(--Dark-blue, #282938);
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
        max-width: 630px;
        margin: 0 auto;
        @media all and (max-width: 991px) {
            font-size: 40px;
            line-height: 48px;
        }
        @media all and (max-width: 575px) {
            font-size: 24px;
            line-height: 28px;
        }
    }
    p {
        margin: 0;
        color: #282938;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
    h4 {
        color: #282938;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-top: 22px;
        margin-bottom: 12px;
        @media all and (max-width: 400px) {
            font-size: 20px;
            line-height: 28px;
        }
    }
    .features-grid-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        margin-top: 47px;
        @media all and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media all and (max-width: 784px) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 27px;
        }
        .item {
            background-color: #fff;
            padding: 58px 32px 48px;
            @media all and (max-width: 1200px) {
                padding: 48px 32px 38px;
            }
            @media all and (max-width: 400px) {
                padding: 38px 22px 28px;
            }
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(0.95);
            }
        }
    }
}
